:root {
    --primary-color: #c81912;
    --secondary-color: #ffebb7;
    --resursi: #110eb3;
    --dizajn: #5f10ad;
    --razvoj: #0f912f;
    --za_postove: #DBC8AC;
}

body {

    background: #ffebb7;


}

.page-header {
    margin-top: 10rem;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.card-holder {
    background-color: var(--za_postove); 
    padding: 15px; 
    border-radius: 15px;
}

.card {
    background-color: #d2c49f;
    padding: 15px;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

.col {
    padding: 1rem;
}
p{
    overflow-wrap: break-word;
}
.content p.custom-paragraph {
    word-wrap: break-word;
}

@media (max-width: 768px) {
    .container {
      flex-direction: column;
    }

    .content p.custom-paragraph {
        max-width: 100%;
    }
}
@keyframes toTheLeft {
    from{
        transform: translateX(-700px);
    } to{
        transform: translateX(0);
    }
}
.card:hover{
    transform: translateY(-5px);
}
.col{
    animation-name: toTheLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}