<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="login.component.css">
</head>
<body>
    <header class="container-fluid">
        <h1 class="naslov"><a href="/home">Ћирили.цом</a></h1>
    <nav>
        <ul class="linkovi">
            <li>
                <a href="/resources">Ресурси</a>
            </li>
            <li>
                <a href="/design">Дизајн</a>
            </li>
            <li>
                <a href="/development">Развој</a>
            </li>
            <li>
                <a href="/convert">Конвертуј</a>
            </li>
        </ul>
    </nav>

</header>
    <div class="sve">
        <form action="">
            <h1>Пријава</h1>
            <div class="input">
                <input type="text" placeholder="Корисничко име" required [(ngModel)] = "Username" [ngModelOptions]="{standalone: true}"> <i class='bx bxs-user'></i>
            </div>
            <div class="input">
                <input type="password" placeholder="Лозинка" required [(ngModel)] = "Password" [ngModelOptions]="{standalone: true}"> <i class='bx bxs-lock-alt' ></i>
            </div>

            <button type="submit" class="dugme" (click)="LogInSubmit()">Пријави се</button>

        </form>
    </div>
<app-footer></app-footer>
</body>
</html>
