*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

:root {
    --primary-color: #303030;
    --resursi: #100ea1;
    --dizajn: #530f97;
    --razvoj: #0f912f;
}

body {
    background-color: #ffebb7;
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #303030;
}

h1{
    margin-left: -50px;
    cursor: pointer;
    transition: all 0.3s ease  0s;
}

h1:hover{
    transition: all 0.3s ease  0s;
    transform: translateY(-3px);
}

.opcije{
    display: flex;
    align-items: center;
}

.linkovi{
    list-style: none;
}

.linkovi li{
    display: inline-block;
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
}

.linkovi li a{
    transition: all 0.3s ease  0s;
}

.linkovi li:hover{
    color: #DBC8AC;
    transform: translateY(-3px);
} 

#logout{
    padding:  9px 25px;
    background-color: #fde199;
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    color: white;
}
#logout:hover{
    background-color: rgba(219, 200, 172,0.6);
    transform: translateY(-5px);
}

.forma{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    margin-top: 40px;
    background-color: #fde199;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

input, textarea, select {
    font-size: 0.6em;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ffe195;
    border-radius: 4px;
}

.submit{
    background-color: #303030;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submit:hover{
    background-color: white;
    color: #303030;
}

.btn{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}